<div class="card">
  <div class="card-body">
    <table class="table table-striped table-bordered table-hover">
      <thead>
      <th>#id</th>
      <th>#Nom</th>
      <th>#Production du dernier jour</th>
      <th>#Production total</th>
      <th>#Importer des données</th>
      </thead>
      <% @power_stations.each do |ps| %>
        <tr>
          <td><%= ps.id %></td>
          <td><%= ps.name %></td>
          <td align="center"><%= ps.energy_on_last_day %></td>
          <td align="center"><%= ps.energy_total %></td>
          <td align="right">
            <%= link_to('Voir le détail', power_station_path(ps), class: 'btn btn-secondary') %>
            <%= link_to('Importer', new_power_station_importers_path(ps), class: 'btn btn-info') %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>